html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: pink;
  font-family: Segoe UI, Tahoma, sans-serif;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.react-calendar{
  max-width: 90%;
}
.react-calendar__tile{
  font: inherit;
  height: 150px;
  background-color: teal;
}
.react-calendar__tile--active{
  transform: scale(1.25);
  background-color: lightgreen;
}
.react-calendar__tile:hover{
  background-color: darkgrey;
  transform: scale(1.15);
}
.react-calendar__navigation {
  background-color: #2CE0F8;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  padding: 20px;
  color: rgb(49, 246, 253);
}
.react-calendar__navigation__label {
  font-size: inherit;
  margin: 0;
}
.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}
.Sample__container > * > * {
  margin: 10px;
}
.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}
.Sample__container__content .react-calendar {
  margin: 0 auto;
}